.banners {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;

    @include big-desktop {
      justify-content: space-evenly;
    }
  }

  &__item {
    @include bg-cover;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    padding: 60px 300px 60px 60px;
    width: 33%;
    background-color: var(--bg-color);

    @include big-desktop {
      width: 50%;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    @include small-tablet {
      width: 100%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
  }

  &__item--women-voleyb-shoes {
    background-image: url("../img/banner-1.jpg");
  }

  &__item--men-run-shoes {
    background-image: url("../img/banner-2.jpg");
  }

  &__item--small-tennis {
    background-image: url("../img/banner-3.jpg");
  }
}
