.card-slider {
  display: flex;

  @include mobile {
    flex-direction: column-reverse;
  }

  &__thumbs {
    @include mobile {
      display: flex;
      overflow-x: auto;
    }
  }

  &__thumb {
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;

    picture {
      pointer-events: none;
    }

    img {
      pointer-events: none;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &--current {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--accent-color);
      }
    }

    @include mobile {
      flex-shrink: 0;

      &:last-child {
        margin-bottom: 10px;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__main {
    margin-left: 15px;
    border: 1px solid #ccc;
    width: 686px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mobile {
      margin: 0;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
