.catalog-slider {
  width: 100%;
  height: 100%;

  &__container {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--slider-1);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -100;
      display: block;
      padding-top: 100%;
      background-color: inherit;
    }

    &:nth-child(2) {
      background-color: var(--slider-2);
    }

    &:nth-child(3) {
      background-color: var(--slider-3);
    }
  }

  &__content {
    overflow: hidden;
    margin-top: 110px;
    margin-bottom: 110px;
    margin-left: 108px;
    width: 100%;
    height: 100%;

    @include desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 75px;
      width: calc(100% - 75px);
    }

    @include small-tablet {
      margin-left: 38px;
      width: calc(100% - 38px);
    }

    @include mobile {
      margin-right: 15px;
      margin-left: 15px;
      width: calc(100% - 30px);
    }
  }

  &__title {
    max-width: 30%;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: left;
    color: var(--text-color);

    @include desktop {
      order: 2;
      max-width: 90%;
      text-align: center;
    }

    @include small-tablet {
      max-width: 75%;
    }

    @include mobile {
      font-size: 32px;
    }
  }

  &__descr {
    margin-bottom: 37px;
    max-width: 30%;
    font-size: 15px;
    line-height: 2;
    text-align: left;
    color: var(--text-light-color);

    @include desktop {
      order: 3;
      max-width: 90%;
      text-align: center;
    }

    @include small-tablet {
      max-width: 75%;
    }
  }

  &__btn-wrap {
    @include desktop {
      order: 4;
      text-align: center;
    }
  }

  &__btn-more,
  &__btn-cart {
    display: inline-block;
    border: 1px solid var(--text-color);
    padding: 18px 45px;
    font-size: 13px;
    line-height: 1.2;
    text-align: center;
    transition: all 0.3s;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      border-color: var(--accent-color);
      color: #fff;
      background-color: var(--accent-color);
      transition: all 0.3s;
    }

    @include desktop {
      margin-bottom: 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__img {
    position: absolute;
    right: 108px;
    bottom: 50%;
    width: 40%;
    max-height: 95%;
    transform: translateY(50%);

    @include desktop {
      position: relative;
      right: auto;
      top: -7px;
      bottom: 20px;
      order: 1;
      width: 75%;
      max-height: 20%;
      transform: translateY(0);
    }
  }

  &__btn-prev,
  &__btn-next {
    @include bg-cover;

    border: 2px solid var(--text-color);
    width: 48px;
    height: 48px;
    transition: all 0.3s;

    &::after {
      display: none;
    }

    svg {
      width: 16px;
      height: 16px;
      fill: var(--text-color);
    }

    &:hover {
      border-color: var(--accent-color);
      color: #fff;
      background-color: var(--accent-color);
      transition: all 0.3s;

      svg {
        fill: #fff;
      }
    }
  }

  &__btn-prev {
    @include mobile {
      left: 5px;
      top: 29px;
    }
  }

  &__btn-next {
    @include mobile {
      right: 5px;
      top: 29px;
    }
  }
}

.catalog__breadcrumbs {
  border-bottom: 1px solid #eee;
  padding-top: 36px;
  padding-bottom: 26px;
}
