.catalog__filter-grid {
  position: relative;
  display: flex;
  margin-bottom: 100px;

  @include tablet {
    margin-bottom: 30px;
  }
}

.catalog-mobile-filters {
  display: none;

  @include tablet {
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: 5px;
      width: 20px;
      height: 20px;
      fill: var(--text-color);
    }
  }
}

.catalog-filters {
  margin-right: 30px;
  padding-top: 27px;
  padding-right: 62px;
  width: 309px;

  &__hide-content {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    padding-left: 24px;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    text-align: left;
    text-transform: uppercase;
    transition: all 0.3s;

    svg {
      margin-right: 5px;
      width: 16px;
      height: 16px;
      fill: var(--text-color);
      transition: all 0.3s;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--accent-color);
      transition: all 0.3s;

      svg {
        fill: var(--accent-color);
        transition: all 0.3s;
      }
    }
  }

  &__group {
    border-top: 1px solid #eee;
    width: 309px;

    &:last-child {
      border-bottom: 1px solid #eee;
    }

    @include desktop {
      width: 250px;
    }

    @include tablet {
      width: 100%;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 34px;
    cursor: pointer;
    user-select: none;
  }

  &__caption {
    display: flex;
    align-items: center;
  }

  &__title {
    display: inline-block;
    margin: 0;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__quantity {
    margin-left: 5px;
    min-width: 16px;
    transform: translateY(-1px);
  }

  &__toggle {
    position: relative;
    width: 12px;
    height: 12px;
    color: #aaa;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: currentcolor;
      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: currentcolor;
      transform: translateY(-50%);
    }
  }

  &__bottom {
    display: none;
    padding-bottom: 34px;
  }

  &__items {
    columns: 2;
  }

  &__item {
    margin-bottom: 14px;
  }

  &--open {
    .catalog-filters__bottom {
      display: block;
    }

    .catalog-filters__toggle {
      &::before {
        display: none;
      }
    }
  }

  @include desktop {
    margin-right: 15px;
    padding-right: 30px;
    width: 250px;
  }

  @include tablet {
    position: absolute;
    left: 0;
    top: 58px;
    z-index: 30;
    display: none;
    padding: 30px 40px;
    width: 100%;
    background: #fff;
  }
}

.catalog-filters--open-btn {
  @include tablet {
    display: block;
  }
}

.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  user-select: none;

  &__input {
    &:checked + span {
      color: var(--accent-color);

      &::before {
        border-color: var(--accent-color);
      }

      &::after {
        content: "\2713";
        position: absolute;
        left: 2px;
        top: 0;
        color: var(--accent-color);
      }
    }
  }

  &__text {
    position: relative;
    padding-left: 15px;
    font-size: 13px;
    color: var(--text-gray);
    transition: color 0.3s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 4px;
      border: 2px solid #aaa;
      width: 11px;
      height: 11px;
    }

    &:hover {
      color: var(--accent-color);
      transition: color 0.3s;

      &::before {
        border-color: var(--accent-color);
        transition: color 0.3s;
      }
    }
  }
}
