.footer {
  padding-top: 20px;
  padding-bottom: 20px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 100px;
  }

  &__menu-title {
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__menu {
  }

  &__menu--flex {
    display: flex;
  }

  &__menu-item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__menu-item--flex {
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 45px;
      margin-bottom: 0;
    }
  }

  &__menu-link {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--text-color);
    padding-bottom: 15px;
  }

  &__form-label {
  }

  &__form-input {
    outline: none;
  }

  &__form-btn {
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__social {
    display: flex;
  }

  &__social-item {
    width: 30px;
    height: 31px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover a svg {
      fill: var(--accent-color);
    }
  }

  &__social-link {
    width: 30px;
    height: 31px;
    padding: 5px;

    svg {
      width: 30px;
      height: 31px;
      fill: var(--text-color);
    }
  }

  &__social-link--fb {
  }

  &__social-link--vk {
  }

  &__social-link--tw {
  }

  &__currency-lang {
    display: flex;
    align-items: center;
  }

  &__currency {
    display: flex;
    margin-right: 60px;
  }

  &__select-caption {
    margin-right: 15px;
    font-size: 13px;
    line-height: 1.2;
    text-align: left;
    color: var(--text-gray);
  }

  &__lang {
    display: flex;
  }

  &--catalog {
    padding-top: 0;

    .custom-select {
      min-width: 40px;
    }

    .custom-select__top {
      border: none;
      padding-bottom: 0;
      font-size: 13px;
      line-height: 1.2;
    }

    .custom-select__top::after {
      margin-top: 0;
    }

    .footer__top {
      margin-bottom: 0;
      border-top: 1px solid #eee;
      border-bottom: none;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .footer__bottom {
      padding-top: 20px;
      padding-bottom: 0;
    }
  }
}
