.hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  height: 100vh;

  &__container {
    position: relative;
    height: 100%;
  }

  &__swiper {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
  }

  &__slide {
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 30px;
    width: 100%;
    height: calc(100% - 100px);
    max-width: 100%;
    background-color: var(--slider-1);

    &:nth-child(2) {
      background-color: var(--slider-2);
    }

    &:nth-child(3) {
      background-color: var(--slider-3);
    }

    @include small-tablet {
      padding-top: 50px;
      height: calc(100% - 50px);
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    height: 100%;

    @include small-tablet {
      align-items: center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 40px;
    max-width: 48%;
    font-weight: 700;
    font-size: 68px;

    @include large-desktop {
      font-size: 48px;
    }

    @include desktop {
      font-size: 30px;
    }

    @include small-tablet {
      order: 2;
      margin-bottom: 20px;
      max-width: 90%;
      font-style: 50px;
    }
  }

  &__descr {
    margin: 0;
    max-width: 48%;
    font-size: 18px;

    @include small-tablet {
      order: 3;
      max-width: 90%;
    }
  }

  &__img {
    position: absolute;
    right: 5%;
    bottom: 50%;
    width: 45%;
    max-height: 70%;
    transform: translateY(50%);

    @include big-desktop {
      right: 9%;
      width: 35%;
    }

    @include small-tablet {
      position: relative;
      right: auto;
      top: 0;
      bottom: auto;
      order: 1;
      margin-bottom: 15px;
      width: 50%;
      max-height: 70%;
      transform: translateY(0);
    }
  }
}

.slider-pagination {
  .swiper-pagination-bullet {
    position: relative;
    bottom: 10px;
    border: none;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: var(--text-color);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      display: block;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: transparent;
      transform: translate(-50%, -50%);
    }

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      box-shadow: 0 0 0 7px var(--accent-color);
      opacity: 1;
    }
  }

  .swiper-pagination-bullet-active {
    box-shadow: 0 0 0 7px #fff;
    background-color: var(--accent-color);

    &:hover {
      box-shadow: 0 0 0 7px #fff;
    }
  }
}
