.main-products {
  &__product-container {
    margin-bottom: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--section-bg-color);
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 38px;
    }
  }

  &__more {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    @include desktop {
      margin-bottom: 50px;
    }
  }
}

.grid-products {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 1.8%;
    margin-bottom: 53px;
    width: 18.5%;

    &:nth-last-child(-n + 5) {
      margin-bottom: 0;
      @include desktop {
        margin-bottom: 30px;
      }

      @include mobile {
        margin-bottom: 15px;
      }
    }

    &:nth-child(5n) {
      margin-right: 0;

      @include desktop {
        margin-right: 2%;
      }
    }

    &:nth-last-child(-n + 3) {
      @include desktop {
        margin-bottom: 0;
      }

      @include mobile {
        margin-bottom: 15px;
      }
    }

    &:nth-child(3n) {
      @include desktop {
        margin-right: 0;
      }

      @include mobile {
        margin-right: 2%;
      }
    }

    &:nth-last-child(-n + 2) {
      @include mobile {
        margin-bottom: 0;
      }
    }

    &:nth-child(2n) {
      @include mobile {
        margin-right: 0;
      }
    }

    @include desktop {
      margin-right: 2%;
      margin-bottom: 30px;
      width: 32%;
    }

    @include mobile {
      margin-bottom: 15px;
      width: 49%;
    }
  }
}

.more {
  &__btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      .more__text {
        color: var(--accent-color);
        transition: all 0.3s;
      }

      svg {
        fill: var(--accent-color);
        transition: all 0.3s;
      }
    }
  }

  &__text {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    text-align: center;
    color: #858585;
  }

  svg {
    width: 12px;
    height: 21px;
  }
}
