.main-products {
  &__product-container {
    margin-bottom: 75px;
    padding-top: 37px;
    background-color: var(--section-bg-color);
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 38px;
    }
  }

  &__more {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
}

.grid-products {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 1.8%;
    margin-bottom: 53px;
    width: 18.5%;

    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.primary-product {
  position: relative;

  &__wrap-img {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    padding-top: 75%;
    background-color: var(--bg-color);
  }

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    text-align: left;
    color: var(--text-light-color);

    a {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }

  &__price {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    text-align: left;
    color: var(--text-color);
  }
}

.more {
  &__btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.2;
    text-align: center;
    color: #858585;
  }

  svg {
    width: 12px;
    height: 21px;
  }
}
