<section class="banners">
  <h2 class="visually-hidden">Популярные категориии спортивных товаров.</h2>
  <ul class="container-fluid banners__wrap list-reset">
    <li class="banners__item">
      <picture>
        <source srcset="img/banner-1.avif" type="image/avif">
        <source srcset="img/banner-1.webp" type="image/webp">
        <img loading="lazy" src="img/banner-1.jpg" class="banners__img" width="600" height="290"
          alt="Категория Женские волейбольные кроссовки">
      </picture>
      <div class="banners__wrap-info">
        <h3 class="banners__title">Женские волейбольные кроссовки</h3>
        <a href="#" class="banners__link primary-link">Перейти</a>
      </div>
    </li>
    <li class="banners__item">
      <picture>
        <source srcset="img/banner-2.avif" type="image/avif">
        <source srcset="img/banner-2.webp" type="image/webp">
        <img loading="lazy" src="img/banner-2.jpg" class="banners__img" width="600" height="290"
          alt="Категория Мужские беговые кроссовки">
      </picture>
      <div class="banners__wrap-info">
        <h3 class="banners__title">Мужские беговые кроссовки</h3>
        <a href="#" class="banners__link primary-link">Перейти</a>
      </div>
    </li>
    <li class="banners__item">
      <picture>
        <source srcset="img/banner-3.avif" type="image/avif">
        <source srcset="img/banner-3.webp" type="image/webp">
        <img loading="lazy" src="img/banner-3.jpg" class="banners__img" width="600" height="290"
          alt="Категория Настольный теннис">
      </picture>
      <div class="banners__wrap-info">
        <h3 class="banners__title">Настольный теннис</h3>
        <a href="#" class="banners__link primary-link">Перейти</a>
      </div>
    </li>
  </ul>
</section>
