<section class="banners">
  <h2 class="visually-hidden">Популярные категориии спортивных товаров.</h2>
  <div class="container-fluid banners__wrap">
    <div class="banners__item banners__item--women-voleyb-shoes">
      <h3 class="banners__title">Женские волейбольные кроссовки</h3>
      <a href="#" class="banners__link primary-link">Перейти</a>
    </div>
    <div class="banners__item banners__item--men-run-shoes">
      <h3 class="banners__title">Мужские беговые кроссовки</h3>
      <a href="#" class="banners__link primary-link">Перейти</a>
    </div>
    <div class="banners__item banners__item--small-tennis">
      <h3 class="banners__title">Настольный теннис</h3>
      <a href="#" class="banners__link primary-link">Перейти</a>
    </div>
  </div>
</section>
