<div class="card-top">
  <div class="container-fluid card-top__container">
    <div class="card-top__left">
      <div class="card-slider">
        <div class="card-slider__thumbs">
          <div class="card-slider__thumb card-slider__thumb--current">
            <picture>
              <source srcset="img/card-product/card-thumbn-1.avif" type="image/avif">
              <source srcset="img/card-product/card-thumbn-1.webp" type="image/webp">
              <img loading="lazy" src="img/card-product/card-thumbn-1.jpg" class="card-slider__img" width="70"
                height="90" data-src="img/card-product/card-slider-1.jpg"
                alt="Кроссовки беговые ASICS GT-2000 10 (1011B185-022)">
            </picture>
          </div>
          <div class="card-slider__thumb">
            <picture>
              <source srcset="img/card-product/card-thumbn-2.avif" type="image/avif">
              <source srcset="img/card-product/card-thumbn-2.webp" type="image/webp">
              <img loading="lazy" src="img/card-product/card-thumbn-2.jpg" class="card-slider__img" width="70"
                height="90" data-src="img/card-product/card-slider-2.jpg"
                alt="Кроссовки беговые ASICS GT-2000 10 (1011B185-022)">
            </picture>
          </div>
          <div class="card-slider__thumb">
            <picture>
              <source srcset="img/card-product/card-thumbn-3.avif" type="image/avif">
              <source srcset="img/card-product/card-thumbn-3.webp" type="image/webp">
              <img loading="lazy" src="img/card-product/card-thumbn-3.jpg" class="card-slider__img" width="70"
                height="90" data-src="img/card-product/card-slider-3.jpg"
                alt="Кроссовки беговые ASICS GT-2000 10 (1011B185-022)">
            </picture>
          </div>
          <div class="card-slider__thumb">
            <picture>
              <source srcset="img/card-product/card-thumbn-4.avif" type="image/avif">
              <source srcset="img/card-product/card-thumbn-4.webp" type="image/webp">
              <img loading="lazy" src="img/card-product/card-thumbn-4.jpg" class="card-slider__img" width="70"
                height="90" data-src="img/card-product/card-slider-4.jpg"
                alt="Кроссовки беговые ASICS GT-2000 10 (1011B185-022)">
            </picture>
          </div>
          <div class="card-slider__thumb">
            <picture>
              <source srcset="img/card-product/card-thumbn-5.avif" type="image/avif">
              <source srcset="img/card-product/card-thumbn-5.webp" type="image/webp">
              <img loading="lazy" src="img/card-product/card-thumbn-5.jpg" class="card-slider__img" width="70"
                height="90" data-src="img/card-product/card-slider-5.jpg"
                alt="Кроссовки беговые ASICS GT-2000 10 (1011B185-022)">
            </picture>
          </div>
        </div>
        <div class="card-slider__main">
          <picture>
            <source srcset="img/card-product/card-slider-1.avif" type="image/avif">
            <source srcset="img/card-product/card-slider-1.webp" type="image/webp">
            <img loading="lazy" src="img/card-product/card-slider-1.jpg" class="card-slider__img-main" width="676"
              height="854" alt="Кроссовки беговые ASICS GT-2000 10 (1011B185-022)">
          </picture>
        </div>
      </div>
    </div>
    <div class="card-top__right">
      <div class="card-info">
        <span class="card-info__prop primary-product__prop primary-product__best">ТОП продаж</span>
        <h3 class="card-info__title">Кроссовки беговые ASICS GT-2000 10 (1011B185-022)</h3>
        <div class="card-info__rate">
          <img src="img/stars.png" alt="Rate 4 of 5">
          <span>2 отзыва</span>
        </div>
        <div class="card-info__price info-price">
          <div class="info-price__current">2200 ₽</div>
          <div class="info-price__old">3000 ₽</div>
        </div>
        <p class="card-info__descr">
          Легкие беговые кроссовки ASICS GT-2000 10 разработаны для того, чтобы обеспечить соответствующий комфорт и
          защиту бегунам, ищущим качественную обувь.
        </p>
        <div class="card-info__select card-info__first-select color-select">
          <p class="color-select__selected">Цвет: <span>Черно-серый</span></p>
          <ul class="color-select__list list-reset">
            <li class="color-select__item">
              <button class="color-select__btn btn-reset primary-link" data-color="Серо-белый"
                aria-label="Выберите цвет модели">
                <picture>
                  <source srcset="img/card-model/thumbn-1.avif" type="image/avif">
                  <source srcset="img/card-model/thumbn-1.webp" type="image/webp">
                  <img loading="lazy" src="img/card-model/thumbn-1.jpg" class="color-select__img" width="60" height="30"
                    alt="Фотография модели в серо-белом цвете">
                </picture>
              </button>
            </li>
            <li class="color-select__item">
              <button class="color-select__btn btn-reset primary-link" data-color="Розовый"
                aria-label="Выберите цвет модели">
                <picture>
                  <source srcset="img/card-model/thumbn-2.avif" type="image/avif">
                  <source srcset="img/card-model/thumbn-2.webp" type="image/webp">
                  <img loading="lazy" src="img/card-model/thumbn-2.jpg" class="color-select__img" width="60" height="30"
                    alt="Фотография модели в розовом цвете">
                </picture>
              </button>
            </li>
            <li class="color-select__item">
              <button class="color-select__btn btn-reset primary-link primary-link--current" data-color="Черно-серый"
                aria-label="Выберите цвет модели">
                <picture>
                  <source srcset="img/card-model/thumbn-3.avif" type="image/avif">
                  <source srcset="img/card-model/thumbn-3.webp" type="image/webp">
                  <img loading="lazy" src="img/card-model/thumbn-3.jpg" class="color-select__img" width="60" height="30"
                    alt="Фотография модели в черно-сером цвете">
                </picture>
              </button>
            </li>
            <li class="color-select__item">
              <button class="color-select__btn btn-reset primary-link" data-color="Фиолетовый"
                aria-label="Выберите цвет модели">
                <picture>
                  <source srcset="img/card-model/thumbn-4.avif" type="image/avif">
                  <source srcset="img/card-model/thumbn-4.webp" type="image/webp">
                  <img loading="lazy" src="img/card-model/thumbn-4.jpg" class="color-select__img" width="60" height="30"
                    alt="Фотография модели в фиолетовом цвете">
                </picture>
              </button>
            </li>
            <li class="color-select__item">
              <button class="color-select__btn btn-reset primary-link" data-color="Черно-розовый"
                aria-label="Выберите цвет модели">
                <picture>
                  <source srcset="img/card-model/thumbn-5.avif" type="image/avif">
                  <source srcset="img/card-model/thumbn-5.webp" type="image/webp">
                  <img loading="lazy" src="img/card-model/thumbn-5.jpg" class="color-select__img" width="60" height="30"
                    alt="Фотография модели в черно-розовом цвете">
                </picture>
              </button>
            </li>
            <li class="color-select__item">
              <button class="color-select__btn btn-reset primary-link" data-color="Черный"
                aria-label="Выберите цвет модели">
                <picture>
                  <source srcset="img/card-model/thumbn-6.avif" type="image/avif">
                  <source srcset="img/card-model/thumbn-6.webp" type="image/webp">
                  <img loading="lazy" src="img/card-model/thumbn-6.jpg" class="color-select__img" width="60" height="30"
                    alt="Фотография модели в черном цвете">
                </picture>
              </button>
            </li>
            <li class="color-select__item">
              <button class="color-select__btn btn-reset primary-link" data-color="Зеленый"
                aria-label="Выберите цвет модели">
                <picture>
                  <source srcset="img/card-model/thumbn-7.avif" type="image/avif">
                  <source srcset="img/card-model/thumbn-7.webp" type="image/webp">
                  <img loading="lazy" src="img/card-model/thumbn-7.jpg" class="color-select__img" width="60" height="30"
                    alt="Фотография модели в зеленом цвете">
                </picture>
              </button>
            </li>
            <li class="color-select__item">
              <button class="color-select__btn btn-reset primary-link" data-color="Голубой"
                aria-label="Выберите цвет модели">
                <picture>
                  <source srcset="img/card-model/thumbn-8.avif" type="image/avif">
                  <source srcset="img/card-model/thumbn-8.webp" type="image/webp">
                  <img loading="lazy" src="img/card-model/thumbn-8.jpg" class="color-select__img" width="60" height="30"
                    alt="Фотография модели в голубом цвете">
                </picture>
              </button>
            </li>
          </ul>
        </div>
        <div class="card-info__select size-select card-info__second-select">
          <p class="size-select__selected">Размер: <span>Выберите размер</span></p>
          <ul class="size-select__list list-reset">
            <li class="size-select__item"><button class="size-select__btn btn-reset"
                aria-label="Выберите 23 размер">23</button></li>
            <li class="size-select__item"><button class="size-select__btn btn-reset"
                aria-label="Выберите 24 размер">24</button></li>
            <li class="size-select__item"><button class="size-select__btn btn-reset"
                aria-label="Выберите 25 размер">25</button></li>
            <li class="size-select__item"><button class="size-select__btn btn-reset"
                aria-label="Выберите 26 размер">26</button></li>
            <li class="size-select__item"><button class="size-select__btn btn-reset"
                aria-label="Выберите 27 размер">27</button></li>
            <li class="size-select__item"><button class="size-select__btn btn-reset"
                aria-label="Выберите 28 размер">28</button></li>
            <li class="size-select__item"><button class="size-select__btn btn-reset"
                aria-label="Выберите 29 размер">29</button></li>
            <li class="size-select__item"><button class="size-select__btn btn-reset"
                aria-label="Выберите 30 размер">30</button></li>
            <li class="size-select__item"><button class="size-select__btn btn-reset"
                aria-label="Выберите 31 размер">31</button></li>
          </ul>
          <button class="btn-reset size-select__clear">
            <svg class="">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
            очистить
          </button>
        </div>
        <div class="card-info__stepper stepper">
          <button class="btn-reset stepper__btn stepper__btn--minus stepper__btn--disabled" aria-label="minus">
            <svg class="">
              <use xlink:href="img/sprite.svg#minus"></use>
            </svg>
          </button>
          <input type="text" class="stepper__input" value="1" maxlength="5">
          <button class="btn-reset stepper__btn stepper__btn--plus" aria-label="plus">
            <svg class="">
              <use xlink:href="img/sprite.svg#plus"></use>
            </svg>
          </button>
        </div>
        <button class="btn-reset card-info__btn card-info__btn--tocart">Добавить в корзину</button>
        <button class="btn-reset card-info__btn card-info__btn--towishlist">Добавить в избранные</button>
        <div class="card-info__bottom card-bottom">
          <div class="card-bottom__item">
            <span>Артикул:</span>
            1011B185-022
          </div>
          <div class="card-bottom__item">
            <span>Категория:</span>
            <a href="#" class="primary-small-link">Беговые</a>
            <a href="#" class="primary-small-link">Мужские</a>
          </div>
          <div class="card-bottom__item">
            <span>Тэги:</span>
            <a href="#" class="primary-small-link">Новинки</a>
            <a href="#" class="primary-small-link">ТОП продаж</a>
          </div>
          <div class="card-bottom__social">
            <span>Отправить:</span>
            <ul class="social list-reset" title="Наши социальные странички">
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--fb"
                  aria-label="Наша страничка в Фейсбуке">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--vk"
                  aria-label="Наша страничка во Вконтакте">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#vk"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link social__link--inst"
                  aria-label="Наша страничка в Инстаграм">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
