<div class="card-content__bottom">
  <div class="card-bottom-content">
    <div class="container-fluid">
      <div class="card-description">
        <div class="card-description__left">
          <ul class="card-description__navigation list-reset" data-simplebar>
            <li class="card-description__item"><a href="#one"
                class="card-description__link card-description__link--active">Описание</a></li>
            <li class="card-description__item"><a href="#two" class="card-description__link">Характеристики</a></li>
            <li class="card-description__item"><a href="#three" class="card-description__link">Доставка</a></li>
            <li class="card-description__item"><a href="#four" class="card-description__link">Оплата</a></li>
          </ul>
        </div>
        <div class="card-description__right">
          <div class="card-description__content card-description__content--active" data-target="#one">
            <p>Кроссовки беговые ASICS GT-2000 10 (1011B185-022)

              Легкие беговые кроссовки ASICS GT-2000 10 разработаны для того, чтобы обеспечить соответствующий комфорт и
              защиту бегунам, ищущим качественную обувь.

              Десятая версия беговых кроссовок GT-2000™ была обновлена, и теперь обладает цельной конструкцией из сетки
              для улучшения посадки над верхней частью стопы.

              Новый материал верха укреплен в основных зонах для усиленной поддержки на каждом этапе всего цикла бега,
              что обеспечивает более эффективную фазу отрыва.

              Перепад между носком и пяткой равен 10 мм. Вес мужской версии данной модели составляет 285 грамм.

              Технологии, использованные в модели ASICS GT-2000 10:

              • IGS (Impact Guidance System). Система распределения удара. Фирменная Система Распределения Удара
              компании ASICS представляет собой философию техники дизайна обуви, которая позволяет ступне атлета
              работать более естественным образом.

              • TWIST GEL. Специальный вид силикона, который поглощает удар. Вставки из геля расположены в стратегически
              важных местах в промежуточной подошве.

              • DuoMax Support System. Система поддержки ДуоМакс. Промежуточная подошва, которая состоит из 2-х
              материалов с различной плотностью и предназначена для мягкой корректировки положения стопы при избыточной
              пронации.

              • Trusstic System. Система Трасстик-жесткость. Литой элемент, расположенный под центральной частью
              подошвы, обеспечивает стабильность, легкость и предотвращает скручивание стопы.

              • FluidRide. Полноразмерная колодка SpEVA дополнена инновационной технологией "Скользящее движение".
              Эволюция в производстве средней подошвы обуви ASICS, добавляет кроссовку легкости и амортизацию.

              • FlyteFoam. Материал промежуточной подошвы с органическими волокнами кевлара в составе обеспечивает
              исключительный возврат энергии и отзывчивость, используя.

              • SpEVA. Пеноматериал подошвенной части обладает отличными амортизационными свойствами.

              • Guidance Line. Подошва разделена таким образом, что воспроизводит идеальную траекторию давления на
              стопу. Спортсмен добивается лучших показателей, при этом меньше уставая и имея меньший риск травмирования.

              • Ortholite. Воздухопроницаемая и более долговечная стелька с бактерицидной пропиткой препятствует
              возникновению бактерий и запахов. Особый материал (гранулы из полиуретана и резины по технологии открытого
              элемента) обеспечивает отличный отвод влаги от стопы. Специальная конструкция пяточной чашки обеспечивает
              дополнительную амортизацию и более высокий комфорт.

              • 3M Reflective. Светоотражающие вставки делают спортсмена заметным даже в темное время суток.</p>
          </div>
          <div class="card-description__content" data-target="#two">
            <p>Основные атрибуты:</p>
            <ul>
              <li>Производитель ASICS</li>
              <li>Страна производитель Вьетнам</li>
              <li>Возрастная группа Взрослая</li>
              <li>Пол Мужской</li>
              <li>Состояние Новое</li>
            </ul>
          </div>
          <div class="card-description__content" data-target="#three">
            <p>Способы доставки:</p>
            <ul>
              <li>Доставка "Почта России". Бесплатно при стоимости заказа от 2000 руб</li>
              <li>Доставка курьером</li>
            </ul>
          </div>
          <div class="card-description__content" data-target="#four">
            <p>Способы оплаты:</p>
            <ul>
              <li>Наложенный платеж "Почта России"</li>
              <li>Оплата по реквизитам</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
