<aside class="catalog-filters">
  <button class="catalog-filters__hide-content btn btn-reset" type="button">
    <svg class="">
      <use xlink:href="img/sprite.svg#hide"></use>
    </svg>
    Скрыть фильтры
  </button>
  <div class="catalog-filters__group  catalog-filters--open">
    <div class="catalog-filters__top">
      <div class="catalog-filters__caption">
        <h3 class="catalog-filters__title">Категории</h3>
        <span class="catalog-filters__quantity quantity">1</span>
      </div>
      <span class="catalog-filters__toggle"></span>
    </div>
    <div class="catalog-filters__bottom">
      <ul class="catalog-filters__items list-reset">
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Все категории">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Все категории</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Мячи">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Мячи</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Наколенники">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Наколенники</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Ветровки">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Ветровки</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Штаны">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Штаны</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Шорты">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Шорты</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Футзалки">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Футзалки</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Кроссовки">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Кроссовки</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Штаны">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Штаны</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Носки">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Носки</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filters__group">
    <div class="catalog-filters__top">
      <div class="catalog-filters__caption">
        <h3 class="catalog-filters__title">Цвет</h3>
        <span class="catalog-filters__quantity quantity">3</span>
      </div>
      <span class="catalog-filters__toggle"></span>
    </div>
    <div class="catalog-filters__bottom">
      <ul class="catalog-filters__items list-reset">
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Все цвета">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Все цвета</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Синий">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Синий</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Красный">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Красный</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Зеленый">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Зеленый</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Серый">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Серый</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Желтый">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Желтый</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Фиолетовый">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Фиолетовый</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Черный">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Черный</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Коричневый">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Коричневый</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div class="catalog-filters__group">
    <div class="catalog-filters__top">
      <div class="catalog-filters__caption">
        <h3 class="catalog-filters__title">Размер</h3>
        <span class="catalog-filters__quantity quantity">3</span>
      </div>
      <span class="catalog-filters__toggle"></span>
    </div>
    <div class="catalog-filters__bottom">
      <ul class="catalog-filters__items list-reset">
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="Все размеры">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">Все размеры</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="40">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">40</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="41">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">41</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="42">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">42</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="43">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">43</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="44">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">44</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="45">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">45</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="46">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">46</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="47">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">47</span>
          </label>
        </li>
        <li class="catalog-filters__item">
          <label class="custom-checkbox" data-text="48">
            <input type="checkbox" class="custom-checkbox__input visually-hidden">
            <span class="custom-checkbox__text">48</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</aside>
