<section class="catalog-slider">
  <h2 class="visually-hidden">Слайдер товаров в каталоге</h2>
  <div class="swiper catalog-slider__container container-fluid">
    <div class="swiper-wrapper catalog-slider__wrapper">
      <div class="swiper-slide catalog-slider__slide">
        <div class="catalog-slider__content">
          <h3 class="catalog-slider__title">Самые популярные технологии амортизации обуви</h3>
          <p class="catalog-slider__descr">Создать кроссовки&nbsp;&mdash; сложно. Создать красивые кроссовки в&nbsp;разы
            сложнее, а&nbsp;создать красивые и&nbsp;комфортные кроссовки&nbsp;&mdash; это искусство.</p>
          <a href="" class="catalog-slider__btn-more btn btn-reset">Подробнее</a>
          <button class="catalog-slider__btn-cart btn btn-reset">Купить</button>
          <img src="img/hero-slider-1.png" alt="" class="catalog-slider__img" width="200" height="200">
        </div>
      </div>
      <div class="swiper-slide catalog-slider__slide">
        <div class="catalog-slider__content">
          <h3 class="catalog-slider__title">Кроссовки беговые мужские ASICS VERSABLAST</h3>
          <p class="catalog-slider__descr">Легкие кроссовки Versablast от&nbsp;ASICS созданы для бега и&nbsp;тренировок
            в&nbsp;спортзале.</p>
          <a href="" class="catalog-slider__btn-more btn btn-reset">Подробнее</a>
          <button class="catalog-slider__btn-cart btn btn-reset">Купить</button>
          <img src="img/hero-slider-2.png" alt="" class="catalog-slider__img" width="200" height="200">
        </div>
      </div>
      <div class="swiper-slide catalog-slider__slide">
        <div class="catalog-slider__content">
          <h3 class="catalog-slider__title">Кроссовки мужские ASICS MAGIC SPEED</h3>
          <p class="catalog-slider__descr">Универсальные кроссовки Magic Speed от&nbsp;ASICS подойдут как для участия
            в&nbsp;забегах на&nbsp;скорость, так и&nbsp;для обычных тренировок.</p>
          <a href="" class="catalog-slider__btn-more btn btn-reset">Подробнее</a>
          <button class="catalog-slider__btn-cart btn btn-reset">Купить</button>
          <img src="img/hero-slider-3.png" alt="" class="catalog-slider__img" width="200" height="200">
        </div>
      </div>
    </div>
    <div class="swiper-button-next catalog-slider__btn-next">
      <svg class="">
        <use xlink:href="img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
    <div class="swiper-button-prev catalog-slider__btn-prev">
      <svg class="">
        <use xlink:href="img/sprite.svg#icon-arrow-left"></use>
      </svg>
    </div>
  </div>
</section>
