<div class="catalog-grid">
  <div class="catalog-grid__props catalog-props">
    <div class="catalog-props__top">
      <div class="catalog-props__columns catalog-columns">
        <span class="catalog-columns__text">Количество столбцов:</span>
        <ul class="catalog-columns__list list-reset">
          <li class="catalog-columns__item"><button class="btn-reset primary-link catalog-columns__btn"
              data-columns="3">3</button></li>
          <li class="catalog-columns__item"><button
              class="btn-reset primary-link  catalog-columns__btn catalog-columns__btn--current"
              data-columns="4">4</button>
          </li>
          <li class="catalog-columns__item"><button class="btn-reset primary-link catalog-columns__btn"
              data-columns="5">5</button></li>
        </ul>
      </div>
      <div class="custom-select" tabindex="0">
        <div class="custom-select__top">По последним</div>
        <div class="custom-select__dropdown">
          <ul class="custom-select__list list-reset">
            <li class="custom-select__item">По последним</li>
            <li class="custom-select__item">По цене</li>
            <li class="custom-select__item">Топ продаж</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="catalog-props__choice catalog-choice">
      <button class="btn-reset catalog-choice__clear">Clear all</button>
    </div>
  </div>
  <ul class="catalog-grid__content list-reset" data-grid-columns="4">
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-1.avif" type="image/avif">
            <source srcset="img/product-1.webp" type="image/webp">
            <img loading="lazy" src="img/product-1.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-2.avif" type="image/avif">
            <source srcset="img/product-2.webp" type="image/webp">
            <img loading="lazy" src="img/product-2.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-3.avif" type="image/avif">
            <source srcset="img/product-3.webp" type="image/webp">
            <img loading="lazy" src="img/product-3.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-4.avif" type="image/avif">
            <source srcset="img/product-4.webp" type="image/webp">
            <img loading="lazy" src="img/product-4.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <span class="product-prop primary-product__prop primary-product__best">Лучшие продажи</span>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
            <span class="primary-product__oldprice">3000 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-5.avif" type="image/avif">
            <source srcset="img/product-5.webp" type="image/webp">
            <img loading="lazy" src="img/product-5.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <div class="primary-product__sale">Распродажа</div>
          <picture>
            <source srcset="img/product-6.avif" type="image/avif">
            <source srcset="img/product-6.webp" type="image/webp">
            <img loading="lazy" src="img/product-6.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-7.avif" type="image/avif">
            <source srcset="img/product-7.webp" type="image/webp">
            <img loading="lazy" src="img/product-7.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <span class="product-prop primary-product__prop primary-product__new">Новинка</span>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-8.avif" type="image/avif">
            <source srcset="img/product-8.webp" type="image/webp">
            <img loading="lazy" src="img/product-8.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-9.avif" type="image/avif">
            <source srcset="img/product-9.webp" type="image/webp">
            <img loading="lazy" src="img/product-9.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-10.avif" type="image/avif">
            <source srcset="img/product-10.webp" type="image/webp">
            <img loading="lazy" src="img/product-10.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <span class="primary-product__prop primary-product__best">Лучшие продажи</span>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-10.avif" type="image/avif">
            <source srcset="img/product-10.webp" type="image/webp">
            <img loading="lazy" src="img/product-10.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
    <li class="catalog-grid__item">
      <div class="primary-product">
        <div class="primary-product__wrap-img">
          <picture>
            <source srcset="img/product-10.avif" type="image/avif">
            <source srcset="img/product-10.webp" type="image/webp">
            <img loading="lazy" src="img/product-10.jpg" class="primary-product__img" width="367" height="458"
              alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
          </picture>
        </div>
        <h3 class="primary-product__title">
          <a href="card.html">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
        </h3>
        <div class="primary-product__price-cart">
          <div class="primary-product__wpar-price">
            <span class="primary-product__price">2200 ₽</span>
          </div>
          <div class="primary-product__cart">
            <button class="primary-product__to-cart btn-reset">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ul class="pagination list-reset">
    <li class="pagination__item"><a href="#" class="pagination__link pagination__link--current">1</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
    <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
    <li class="pagination__item">
      <a href="#" class="pagination__link">
        Next
        <svg class="">
          <use xlink:href="img/sprite.svg#angle-right"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
