<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__menu-service">
        <h3 class="footer__menu-title text-title">Для клиентов</h3>
        <ul class="footer__menu list-reset">
          <li class="footer__menu-item text-str"><a href="tel:+74951234567" class="footer__menu-link primary-small-link">Телефон: +7 495
              123
              45 67</a></li>
          <li class="footer__menu-item text-str"><a href="#" class="footer__menu-link">Чат с Нами</a></li>
          <li class="footer__menu-item text-str"><a href="#" class="footer__menu-link">О Нас</a></li>
          <li class="footer__menu-item text-str"><a href="#" class="footer__menu-link">Сроки и Условия</a></li>
        </ul>
      </div>
      <div class="footer__company">
        <h3 class="footer__menu-title text-title">О компании</h3>
        <ul class="footer__menu list-reset">
          <li class="footer__menu-item text-str"><a href="#" class="footer__menu-link">Что Мы делаем</a></li>
          <li class="footer__menu-item text-str"><a href="#" class="footer__menu-link">Наши услуги</a></li>
          <li class="footer__menu-item text-str"><a href="#" class="footer__menu-link">Cтатьи</a></li>
          <li class="footer__menu-item text-str"><a href="#" class="footer__menu-link">FAQs</a></li>
        </ul>
      </div>
      <div class="footer__newsletter">
        <h3 class="footer__menu-title text-title">Наша почта</h3>
        <ul class="footer__menu list-reset">
          <li class="footer__menu-item text-str">Подпишитесь на нашу рассылку и
            получите скидку 15% на первую покупку.</li>
          <li class="footer__menu-item text-str">
            <form action="#" class="footer__form">
              <label class="footer__form-label">
                <input type="text" name="Имя" class="input-reset footer__form-input" placeholder="Электронная почта">
              </label>
              <button class="btn-reset footer__form-btn">Подписаться</button>
            </form>
          </li>
          <li class="footer__menu-item text-str">*Не беспокойтесь Мы НЕ
            спамим.</li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <ul class="footer__menu footer__menu--flex list-reset">
        <li class="footer__menu-item footer__menu-item--flex text-str"><a href="#" class="footer__menu-link">Доставка и
            самовывоз</a></li>
        <li class="footer__menu-item footer__menu-item--flex text-str"><a href="#" class="footer__menu-link">Оплата</a>
        </li>
        <li class="footer__menu-item footer__menu-item--flex text-str"><a href="#"
            class="footer__menu-link">Возврат-обмен</a></li>
      </ul>
      <ul class="footer__social list-reset" title="Наши социальные странички">
        <li class="footer__social-item">
          <a href="#" target="_blank" class="footer__social-link footer__social-link--fb"
            aria-label="Наша страничка в Фейсбуке">
            <svg class="">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" target="_blank" class="footer__social-link footer__social-link--vk"
            aria-label="Наша страничка во Вконтакте">
            <svg class="">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a href="#" target="_blank" class="footer__social-link footer__social-link--inst"
            aria-label="Наша страничка в Инстаграм">
            <svg class="">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
