<footer class="footer footer--catalog">
  <div class="container">
    <div class="footer__top">
      <ul class="footer__social social list-reset" title="Наши социальные странички">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--fb"
            aria-label="Наша страничка в Фейсбуке">
            <svg class="">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--vk"
            aria-label="Наша страничка во Вконтакте">
            <svg class="">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link social__link--inst"
            aria-label="Наша страничка в Инстаграм">
            <svg class="">
              <use xlink:href="img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer__menu footer__menu--flex list-reset">
        <li class="footer__menu-item footer__menu-item--flex"><a href="#" class="footer__menu-link primary-small-link">Доставка и
            самовывоз</a></li>
        <li class="footer__menu-item footer__menu-item--flex"><a href="#" class="footer__menu-link primary-small-link">Оплата</a>
        </li>
        <li class="footer__menu-item footer__menu-item--flex"><a href="#"
            class="footer__menu-link primary-small-link">Возврат-обмен</a></li>
      </ul>
      <div class="footer__currency-lang">
        <div class="footer__currency">
          <span class="footer__select-caption">Валюта</span>
          <div class="custom-select" tabindex="0">
            <div class="custom-select__top">RUB</div>
            <div class="custom-select__dropdown">
              <ul class="custom-select__list list-reset">
                <li class="custom-select__item">RUB</li>
                <li class="custom-select__item">USD</li>
                <li class="custom-select__item">EUR</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__lang">
          <span class="footer__select-caption">Язык</span>
          <div class="custom-select" tabindex="0">
            <div class="custom-select__top">Ru</div>
            <div class="custom-select__dropdown">
              <ul class="custom-select__list list-reset">
                <li class="custom-select__item">Ru</li>
                <li class="custom-select__item">En</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copyright">&copy;2022 Sport-Ritm Все права защищены.</div>
      <picture>
        <source srcset="img/pay.avif" type="image/avif">
        <source srcset="img/pay.webp" type="image/webp">
        <img loading="lazy" src="img/pay.jpg" class="footer__img-pay" width="215" height="12" alt="Картинка с поддерживаеммыми платежными системами: MasterCard VISA PayPal.">
      </picture>
    </div>
  </div>
</footer>
