<header class="header">
  <div class="container-fluid header__container">
    <div class="header__top">
      <button class="burger header__burger btn-reset" aria-label="Открыть меню" aria-expanded="false"  data-burger type="button">
        <span class="burger__line"></span>
      </button>
      <nav class="nav header__nav" aria-label="Навигационное меню">
        <button class="nav__close btn-reset" type="button"></button>
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link primary-link">Магазины</a></li>
          <li class="nav__item"><a href="#" class="nav__link primary-link primary-link--current">Акции</a></li>
          <li class="nav__item"><a href="#" class="nav__link primary-link">Доставка и оплата</a></li>
        </ul>
      </nav>
      <a class="header__logo-lnk">
        <img class="header__logo" src="img/logo.png" width="172" height="45" alt="Интернет-магазин спортивный товаров Zonex.">
      </a>
      <ul class="shop-nav header__shop-nav list-reset">
        <li class="shop-nav__item">
          <form action="#" class="shop-nav__search-form search-form">
            <!-- <label class="search-form__label">
              <input type="text" name="Имя" class="input-reset search-form__input" placeholder="Имя">
            </label> -->
            <button class="btn-reset search-form__btn" type="button" aria-label="Кнопка поиска">
              <svg class="">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </button>
          </form>
        </li>
        <li class="shop-nav__item">
          <a href="#" class="shop-nav__link shop-nav__link--user" aria-label="Переход на страницу пользователя">
            <svg class="">
              <use xlink:href="img/sprite.svg#user"></use>
            </svg>
          </a>
        </li>
        <li class="shop-nav__item">
          <a href="" class="shop-nav__cart cart" aria-label="Переход на страницу корзины">
            <span class="cart__icon">
              <svg class="">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </span>
            <span class="cart__quantity quantity">1</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
