<section class="main-products">
  <div class="main-products__grid-container container-fluid">
    <ul class="main-products__nav list-reset">
      <li class="main-products__item"><button
          class="main-products__btn btn-reset primary-link primary-link--current">Топ продаж</button></li>
      <li class="main-products__item"><button class="main-products__btn btn-reset primary-link">Новинки</button></li>
      <li class="main-products__item"><button class="main-products__btn btn-reset primary-link">Распродажа</button></li>
    </ul>
  </div>
  <div class="main-products__product-container">
    <div class="container-fluid">
      <ul class="main-products__grid-products grid-products list-reset">
        <li class="grid-products__item grid-products__product">
          <div class="primary-product">
            <div class="primary-product__wrap-img">
              <picture>
                <source srcset="img/product-1.avif" type="image/avif">
                <source srcset="img/product-1.webp" type="image/webp">
                <img loading="lazy" src="img/product-1.jpg" class="primary-product__img" width="367" height="458"
                  alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
              </picture>
            </div>
            <h3 class="primary-product__title">
              <a href="#">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
            </h3>
            <span class="primary-product__price">2200 ₽</span>
          </div>
        </li>
        <li class="grid-products__item grid-products__product">
          <div class="primary-product">
            <div class="primary-product__wrap-img">
              <picture>
                <source srcset="img/product-2.avif" type="image/avif">
                <source srcset="img/product-2.webp" type="image/webp">
                <img loading="lazy" src="img/product-2.jpg" class="primary-product__img" width="367" height="458"
                  alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
              </picture>
            </div>
            <h3 class="primary-product__title">
              <a href="#">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
            </h3>
            <span class="primary-product__price">2200 ₽</span>
          </div>
        </li>
        <li class="grid-products__item grid-products__product">
          <div class="primary-product">
            <div class="primary-product__wrap-img">
              <picture>
                <source srcset="img/product-3.avif" type="image/avif">
                <source srcset="img/product-3.webp" type="image/webp">
                <img loading="lazy" src="img/product-3.jpg" class="primary-product__img" width="367" height="458"
                  alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
              </picture>
            </div>
            <h3 class="primary-product__title">
              <a href="#">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
            </h3>
            <span class="primary-product__price">2200 ₽</span>
          </div>
        </li>
        <li class="grid-products__item grid-products__product">
          <div class="primary-product">
            <div class="primary-product__wrap-img">
              <picture>
                <source srcset="img/product-4.avif" type="image/avif">
                <source srcset="img/product-4.webp" type="image/webp">
                <img loading="lazy" src="img/product-4.jpg" class="primary-product__img" width="367" height="458"
                  alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
              </picture>
            </div>
            <h3 class="primary-product__title">
              <a href="#">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
            </h3>
            <span class="primary-product__price">2200 ₽</span>
          </div>
        </li>
        <li class="grid-products__item grid-products__product">
          <div class="primary-product">
            <div class="primary-product__wrap-img">
              <picture>
                <source srcset="img/product-5.avif" type="image/avif">
                <source srcset="img/product-5.webp" type="image/webp">
                <img loading="lazy" src="img/product-5.jpg" class="primary-product__img" width="367" height="458"
                  alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
              </picture>
            </div>
            <h3 class="primary-product__title">
              <a href="#">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
            </h3>
            <span class="primary-product__price">2200 ₽</span>
          </div>
        </li>
        <li class="grid-products__item grid-products__product">
          <div class="primary-product">
            <div class="primary-product__wrap-img">
              <picture>
                <source srcset="img/product-6.avif" type="image/avif">
                <source srcset="img/product-6.webp" type="image/webp">
                <img loading="lazy" src="img/product-6.jpg" class="primary-product__img" width="367" height="458"
                  alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
              </picture>
            </div>
            <h3 class="primary-product__title">
              <a href="#">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
            </h3>
            <span class="primary-product__price">2200 ₽</span>
          </div>
        </li>
        <li class="grid-products__item grid-products__product">
          <div class="primary-product">
            <div class="primary-product__wrap-img">
              <picture>
                <source srcset="img/product-7.avif" type="image/avif">
                <source srcset="img/product-7.webp" type="image/webp">
                <img loading="lazy" src="img/product-7.jpg" class="primary-product__img" width="367" height="458"
                  alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
              </picture>
            </div>
            <h3 class="primary-product__title">
              <a href="#">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
            </h3>
            <span class="primary-product__price">2200 ₽</span>
          </div>
        </li>
        <li class="grid-products__item grid-products__product">
          <div class="primary-product">
            <div class="primary-product__wrap-img">
              <picture>
                <source srcset="img/product-8.avif" type="image/avif">
                <source srcset="img/product-8.webp" type="image/webp">
                <img loading="lazy" src="img/product-8.jpg" class="primary-product__img" width="367" height="458"
                  alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
              </picture>
            </div>
            <h3 class="primary-product__title">
              <a href="#">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
            </h3>
            <span class="primary-product__price">2200 ₽</span>
          </div>
        </li>
        <li class="grid-products__item grid-products__product">
          <div class="primary-product">
            <div class="primary-product__wrap-img">
              <picture>
                <source srcset="img/product-9.avif" type="image/avif">
                <source srcset="img/product-9.webp" type="image/webp">
                <img loading="lazy" src="img/product-9.jpg" class="primary-product__img" width="367" height="458"
                  alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
              </picture>
            </div>
            <h3 class="primary-product__title">
              <a href="#">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
            </h3>
            <span class="primary-product__price">2200 ₽</span>
          </div>
        </li>
        <li class="grid-products__item grid-products__product">
          <div class="primary-product">
            <div class="primary-product__wrap-img">
              <picture>
                <source srcset="img/product-10.avif" type="image/avif">
                <source srcset="img/product-10.webp" type="image/webp">
                <img loading="lazy" src="img/product-10.jpg" class="primary-product__img" width="367" height="458"
                  alt="Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)">
              </picture>
            </div>
            <h3 class="primary-product__title">
              <a href="#">Кроссовки беговые ASICS GEL-SONOMA 6 (1011B050-029)</a>
            </h3>
            <span class="primary-product__price">2200 ₽</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-products__more more">
    <button class="more__btn btn-reset">
      <span class="more__text">Больше товаров</span>
      <svg class="more__svg">
        <use xlink:href="img/sprite.svg#arrow-down"></use>
      </svg>
    </button>
  </div>
</section>
