<section class="shop-banners">
  <ul class="shop-banners__list list-reset">
    <li class="shop-banners__item">
      <picture>
        <source srcset="img/shop-banner-1.avif" type="image/avif">
        <source srcset="img/shop-banner-1.webp" type="image/webp">
        <img loading="lazy" src="img/shop-banner-1.jpg" class="shop-banners__img" width="960" height="420" alt="Категория мужская одежда.">
      </picture>
      <div class="shop-banners__wrap-text">
        <h3 class="shop-banners__title">Мужская одежда</h3>
        <a href="javascript:void(0);" class="shop-banners__link primary-link">Перейти</a>
      </div>
    </li>
    <li class="shop-banners__item">
      <picture>
        <source srcset="img/shop-banner-2.avif" type="image/avif">
        <source srcset="img/shop-banner-2.webp" type="image/webp">
        <img loading="lazy" src="img/shop-banner-2.jpg" class="shop-banners__img" width="960" height="420" alt="Список категорий. Одежда на любой вкус.">
      </picture>
      <div class="shop-banners__wrap-text">
        <h3 class="shop-banners__title">Одежда на любой вкус</h3>
        <a href="javascript:void(0);" class="shop-banners__link primary-link">Перейти</a>
      </div>
    </li>
  </ul>
</section>
