html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  margin: 0;
}

.site-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  min-height: 100vh;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: 1850px;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.primary-link {
  position: relative;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: width 0.3s;

  &::after {
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    bottom: -8px;
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.3s;
  }

  &:focus,
  &:hover {
    color: var(--accent-color);
    transition: width 0.3s;

    &::after {
      background-color: var(--accent-color);
      transition: width 0.3s;
    }
  }

  &:focus::after {
    left: 0;
    right: auto;
    width: 100%;
    transition: width 0.3s;
  }

  &:hover::after {
    left: 0;
    right: auto;
    width: 100%;
    transition: width 0.3s;
  }

  &:active,
  &--current {
    color: var(--accent-color);
    transition: width 0.3s;

    &::after {
      width: 100%;
      background-color: var(--accent-color);
      transition: width 0.3s;
    }
  }
}

.transition-custom {
  transition: all 0.3s;
}

.primary-small-link {
  transition: color 0.3s;

  &:focus,
  &:hover,
  &:active,
  &--current {
    color: var(--accent-color);
    transition: color 0.3s;
  }
}

button svg,
a svg {
  transition: all 0.3s;
}

button:hover svg,
a:hover svg {
  fill: var(--accent-color);
  transition: all 0.3s;
}

.text__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}

.text__str {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  color: var(--text-light-color);
}

.quantity {
  display: inline-flex;
  align-items: center;
  border-radius: 25px;
  padding: 0 5px;
  height: 16px;
  font-weight: 700;
  font-size: 10px;
  color: #fff;
  background-color: var(--accent-color);
}

.to-top {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 100;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--accent-color);
  padding: 14px 18px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  transition: transform 0.3s;

  svg {
    width: 10px;
    height: 18px;
    fill: var(--accent-color);
    transition: fill 0.3s;
  }

  &:hover {
    background-color: var(--accent-color);
    transform: scale(1.2);
    transition: transform 0.3s, background-color 0.3s;

    svg {
      fill: var(--light-color);
      transition: fill 0.3s;
    }
  }
}
