// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // Base
  --font-family: "Jost-mf";
  --content-width: 1327px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // Themes colors
  --light-color: #fff;
  --text-color: #151515;
  --text-light-color: #454545;
  --accent-color: #1c62cd;
  --accent-dark-color: #9913d3;
  --bg-color: #d9d9d7;
  --section-bg-color: #f8f8f8;

  // Slider colors
  --slider-1: #98ff98;
  --slider-2: #fe3b06;
  --slider-3: #d9d9d7;
}
